.main {
	width: 70%;
	margin: auto;
	border-left: 1px solid;
	border-right: 1px solid;
	background: lightgrey;
}
.top-menu {
	height:100px;
	padding:5px;
	background:darkgrey;
}
footer {
	text-align:center;
	font-size:12px;
	background:silver;
}

