body {
    padding: 100px;
}
.main {
    width: 60%;
    height: 50%;
    margin: auto;
    border: 1px solid;
    border-radius: 20px;
    background: #001b36;
}
.head {
    text-align: center;
    font: bold 18px sans-serif;
    color: white;
    background: #00377a;
    border-radius: 20px 20px 0 0;
}
.descr {
    text-align: center;
    font: bold 16px sans-serif;
    color: #dfda93;
}
.left_col {
    float: left;
    width: 50%;
}
.right_col {
    width: 50%;
}
p {
    color: white;
}
