.main {
	width: 70%;
	height:100%;
	margin: auto;
	border-left: 1px solid darkgrey;
	border-right: 1px solid darkgrey;
}
.sub-main{
	width: 100%;
	height: 100%;
	padding-left: 2px;
	padding-right: 2px;
}
.top-menu {
	height: 10%;
	padding: 5px;
	background: url(images/wall-backgrd.jpg);
}
.head{
	height: 10%;
	background: whitesmoke;
	text-align: center;
	font-size: 14px;
}
.form{
	height: 70%;
	background: gainsboro;
	padding: 10px;
}
footer {
	height: 10%;
	text-align: center;
	font-size: 14px;
	background: silver;
	padding: 10px;
}

